// ================================
// BUTTON MOLECULE - BUTTON PATTERNS
// ================================

@use '../atoms/variables' as *;
@use '../utilities/mixins' as *;

// Base button control
.btn-control {
  @include button-base;
  width: 100%;
  color: $color-white;
  padding: $spacing-2 $spacing-3;
  font-size: $font-size-sm;
  @include shadow('md');
}

// Button variants
.btn-primary {
  @include button-primary;
}

.btn-secondary {
  @include button-secondary;
}

.btn-success {
  @include button-base;
  background-color: $color-success;
  color: $color-white;
  
  &:hover:not(:disabled) {
    background-color: darken($color-success, 10%);
  }
}

.btn-warning {
  @include button-base;
  background-color: $color-warning;
  color: $color-white;
  
  &:hover:not(:disabled) {
    background-color: darken($color-warning, 10%);
  }
}

.btn-error {
  @include button-base;
  background-color: $color-error;
  color: $color-white;
  
  &:hover:not(:disabled) {
    background-color: darken($color-error, 10%);
  }
}

// Button sizes
.btn-sm {
  padding: $spacing-2 $spacing-4;
  font-size: $font-size-sm;
}

.btn-md {
  padding: $spacing-3 $spacing-6;
  font-size: $font-size-base;
}

.btn-lg {
  padding: $spacing-4 $spacing-8;
  font-size: $font-size-lg;
}

// Icon button
.btn-icon {
  @include button-reset;
  @include flex-center;
  padding: $spacing-2;
  border-radius: $radius-full;
  transition: all $transition-base;
  
  &:hover {
    background-color: rgba($color-black, 0.1);
  }
}
