<div class="bg-white rounded-3xl p-4 shadow-md h-full mb-6">
  <h2 class="text-lg font-bold text-gray-800 mb-3 truncate">
    {{ room()?.name }}
  </h2>
  <div class="space-y-2">
    <!-- Ronda -->
    <div
      class="bg-cyan-50 p-3 rounded-3xl flex justify-between items-center xl:block"
    >
      <div class="text-xs text-gray-600 font-semibold">Ronda</div>
      <div class="text-lg font-bold text-gray-800">
        {{ room()?.currentRound }}
      </div>
    </div>
    <!-- Cartas -->
    <div
      class="bg-yellow-50 p-3 rounded-3xl flex justify-between items-center xl:block"
    >
      <div class="text-xs text-gray-600 font-semibold">Cartas</div>
      <div class="text-lg font-bold text-gray-800">
        {{ (room()?.currentIndex ?? -1) + 1 }}/54
      </div>
    </div>
    <!-- Estado -->
    <div
      class="bg-purple-50 p-3 rounded-3xl flex justify-between items-center xl:block"
    >
      <div class="text-xs text-gray-600 font-semibold">Estado</div>
      <div class="text-lg font-bold text-gray-800">
        {{ getRoomStateLabel(room()?.state ?? "waiting") }}
      </div>
    </div>
  </div>
</div>
