@media screen and (min-width: 1200px) {
  #tabla-desktop ::ng-deep .card-container {
    width: 10vw;
  }
}

@media screen and (max-width: 767px) {
  app-player-card-history {
    display: flex;
    overflow-x: scroll;
    align-items: flex-end;
  }
}
