<div
  *ngIf="room()?.state === 'finished'"
  class="mb-6 bg-gradient-to-r from-purple-500 to-pink-500 text-white p-6 rounded-2xl shadow-xl text-center"
>
  <h2 class="text-4xl font-bold mb-3">🎉 ¡Juego Terminado! 🎉</h2>

  <!-- Un solo ganador -->
  <div *ngIf="currentRoundWinners.length === 1" class="mt-4">
    <p class="text-2xl font-bold mb-2">🏆 Ganador 🏆</p>
    <div class="flex items-center justify-center gap-3">
      <span class="text-3xl font-bold">{{
        currentRoundWinners()[0].displayName
      }}</span>
    </div>
  </div>

  <!-- Múltiples ganadores -->
  <div *ngIf="currentRoundWinners().length > 1" class="mt-4">
    <p class="text-2xl font-bold mb-3">🏆 Ganadores 🏆</p>
    <div class="flex flex-wrap justify-center gap-4">
      <div
        *ngFor="let winner of currentRoundWinners()"
        class="bg-white/20 rounded-3xl px-4 py-2"
      >
        <span class="text-xl font-semibold">{{ winner.displayName }}</span>
      </div>
    </div>
  </div>

  <!-- Sin ganadores -->
  <p *ngIf="currentRoundWinners.length === 0" class="text-xl opacity-90 mt-2">
    El juego ha finalizado. Puedes eliminar la sala o crear una nueva.
  </p>
</div>
